body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}
sup {
    font-size:0.5em;
    vertical-align: super;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
}
.header-left {
    font-size: xx-large;
}
.header-right a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
}
.header-right a:hover {
    color: #00bcd4;
}
.container {
    margin: 20px auto;
    max-width: 750px;
    background-color: white;
    color:black;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 1);
    padding: 20px;
}
h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    color: black;
    font-weight: bold;
}
input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: black;
}
footer {
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
.hover-button {
    position: relative;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.default-text {
    display: inline;
    transition: opacity 0.3s ease;
}


.hover-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hover-button:hover .default-text {
    display: none;
}

.hover-button:hover .hover-text {
    display: inline;
}